.footer {
  margin-top: rem(120px);
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
    background-image: url('../../assets/footerbg2.svg');
    background-size: cover;
    background-position: center;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-xs);
  @media (max-width: 36em) {
    flex-direction: row;
  }
}

.links {
  @media (max-width: 36em) {
    margin-top: var(--mantine-spacing-xs);
  }
}

.socialicon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease, filter 0.3s ease;
  @media (max-width: 36em) {
    width: 30px;
    height: 30px;
  }
}

.socialicon:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}
.logo {
  height: 50px;
  transition: transform 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
}
.copyright {
  justify-content: center;
  align-items: center;
  color: var(--mantine-color-blue-5);
  text-align: center;
  
}
